body {
    background-color: #EEF0F2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    color: darkgreen;
    text-align: center;
}
.topic-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 15px;
    width: 80%; /* Adjust width as per your design */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
}
@media (max-width: 600px) {
    .topic-container {
        width: 100%; /* Make the width 100% for smaller screens */
        margin-left: 10px; /* Optional: Add some space on the left */
        margin-right: 10px; /* Optional: Add some space on the right */
    }
}
.num-of-entries-class{
    font-family: Arial, sans-serif;
    color: #27394D; /* Using the same color as your 'details' for consistency */
    font-size: 1em; /* Standard font size, adjust as needed */
    margin-bottom: 10px; /* Spacing below the text */
    text-align: left;
    margin-right: auto;
}
.topic-title {
    color: darkblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topic-title:hover {
    text-decoration: underline;
}
details {
    color: #27394D;
    margin-top: 10px;
}
summary {
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
}
small {
    display: block;
    margin-top: 10px;
    color: #666;
}

.entry-count {
    background-color: #f2f2f2;
    color: #333;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.8em;
    margin-left: 10px;
}